<app-loginnav [what]="'login'"></app-loginnav>

<div class="body">
  <div class="card">
    <div class="chead">
      <div class="right">Log in</div>
    </div>
    <div class="cbody">
      <form action="" [formGroup]="form" (ngSubmit)="login()">
        <div class="usermail">
          <input type="email" placeholder="Email ID*" formControlName="Email" />
          <a href="#">FORGOT EMAIL ID?</a>
        </div>

        <div class="userpass">
          <input
            type="email"
            placeholder="Password*"
            formControlName="Password"
          />
          <a href="#">FORGOT PASSWORD?</a>
        </div>

        <div class="remindbox">
          <div class="inn">
            <input
              [name]="'5' + 9"
              [id]="'5' + 9"
              type="checkbox"
              class="inpchk"
              formControlName="Check"
            />
            <label [for]="'5' + 9" class="checkbox"></label>
            <p>Remember Me</p>
          </div>
        </div>

        <div class="submitbtn">
          <input type="submit" value="LOG IN" />
        </div>

        <div class="lastsec">
          <p class="notreg">Not registered yet?</p>
          <p class="creac"><a href="createaccount">CREATE AN ACCOUNT</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

{{ form.value | json }}
