<app-loginnav></app-loginnav>

<div class="mainapplied">
  <div class="applieddrive">
    <div class="righticon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="73.59"
        height="69.41"
        viewBox="0,0,256,256"
      >
        <g
          fill-opacity="1"
          fill="#ffffff"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <g transform="scale(5.12,5.12)">
            <path
              d="M41.9375,8.625c-0.66406,0.02344 -1.27344,0.375 -1.625,0.9375l-18.8125,28.78125l-12.1875,-10.53125c-0.52344,-0.54297 -1.30859,-0.74609 -2.03125,-0.51953c-0.71875,0.22266 -1.25391,0.83203 -1.37891,1.57422c-0.125,0.74609 0.17578,1.49609 0.78516,1.94531l13.9375,12.0625c0.4375,0.37109 1.01563,0.53516 1.58203,0.45313c0.57031,-0.08594 1.07422,-0.41016 1.38672,-0.89062l20.09375,-30.6875c0.42969,-0.62891 0.46484,-1.44141 0.09375,-2.10547c-0.37109,-0.66016 -1.08594,-1.05469 -1.84375,-1.01953z"
            ></path>
          </g>
        </g>
      </svg>
    </div>

    <p class="heading">
      Congratulations ! You have successfully applied for the walk-in
      opportunity
    </p>

    <hr />

    <div class="details">
      <div class="datetime">
        <p class="title">Date & Time of Walk-In :</p>
        <p class="date">03rd July 2021</p>
        <p class="time">9:00 AM to 11:00 AM</p>
      </div>

      <hr />

      <div class="venue">
        <p class="title">Venue of Walk-In :</p>
        <p class="address">
          Zeus Systems Pvt. Ltd. 1402, 14th Floor, Tower B, Peninsula Business
          Park. Ganpatrao Kadam Marg Lower Parel (W) Mumbai - 400 013 Phone:
          +91-22-66600000
        </p>
      </div>

      <hr />

      <div class="remember">
        <p class="title">THINGS TO REMEMBER :</p>

        <div class="things">
          <p>- Please report 30 MINUTES prior to your reporting time.</p>
          <p>
            - Download your Hall Ticket from below and carry it with you during
            your Walk-In.
          </p>
        </div>
      </div>

      <hr />
    </div>

    <div class="hallticket">
      <button class="download">DOWNLOAD HALL TICKET</button>
    </div>
  </div>
</div>
