<div
  class="review"
  *ngIf="
    jobroles != undefined &&
    personalinfo != undefined &&
    qualificationinfo != undefined &&
    profesqualificainfo != undefined
  "
>
  <div class="personal">
    <div class="title">
      <p>Personal Information</p>
      <p>Edit</p>
    </div>
    <div class="maincont">
      <div class="left">
        <div class="fname first">
          <label for="">First Name</label>
          <p>{{ personalinfo.value.fname }}</p>
        </div>

        <div class="fname">
          <label for="">Last Name</label>
          <p>{{ personalinfo.value.lname }}</p>
        </div>

        <div class="fname">
          <label for="">Email</label>
          <p>{{ personalinfo.value.Email }}</p>
        </div>

        <div class="fname">
          <label for="">Password</label>
          <p>{{ personalinfo.value.Password }}</p>
        </div>

        <div class="fname">
          <label for="">Phone Number</label>
          <p>+ 91 {{ personalinfo.value.Phoneno }}</p>
        </div>

        <div class="fname">
          <label for="">Upload Resume </label>
          <p href="#">{{ personalinfo.value.Resume_url }}</p>
        </div>

        <div class="fname">
          <label for="">Enter Portfolio URL (if any)</label>
          <p>{{ personalinfo.value.Portfolio_url }}</p>
        </div>

        <div class="fname">
          <label for="">Preferred Job Roles</label>
          <p *ngFor="let roleid of personalinfo.value.Prefered_Job_roles">
            {{ jobrolestempmap[roleid] }}
          </p>
        </div>

        <div class="fname">
          <label for=""
            >If You Are Registering Via A Referral, Please Mention Full Name Of
            The Employee Who Referred You</label
          >
          <p>{{ personalinfo.value.Reffred_emp }}</p>
        </div>

        <div class="jobnoti">
          <svg
            *ngIf="personalinfo.value.Sendjobnotification"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
            />
          </svg>
          <svg
            *ngIf="!personalinfo.value.Sendjobnotification"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"
            />
          </svg>
          <p>Send me job related updates via mail</p>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>

  <div class="qualificarion">
    <div class="title">
      <p>Qualifications</p>
      <p>Edit</p>
    </div>
    <div class="content">
      <div class="title1">Educational Qualifications</div>
      <div class="eduqual">
        <div class="part first1">
          <label for="">Aggregate Percentage</label>
          <p>{{ qualificationinfo.value.Aggrigate_per }}</p>
        </div>

        <div class="part">
          <label for="">Year of Passing</label>
          <p>{{ qualificationinfo.value.yearpass }}</p>
        </div>

        <div class="duo">
          <div class="part">
            <label for="">Qualification</label>
            <p>{{ qualificationinfo.value.qualification }}</p>
          </div>
          <div class="part">
            <label for="">Stream</label>
            <p>{{ qualificationinfo.value.stream }}</p>
          </div>
        </div>

        <div class="duo">
          <div class="part">
            <label for="">College</label>
            <p>{{ qualificationinfo.value.college }}</p>
          </div>
          <div class="part">
            <label for="">If others, please enter your college name</label>
            <p>{{ qualificationinfo.value.otherclg }}</p>
          </div>
        </div>

        <div class="part">
          <label for="">Where is your college located?</label>
          <p>{{ qualificationinfo.value.clglocation }}</p>
        </div>
      </div>
    </div>
    <div class="content profq">
      <div class="title1">Professional Qualifications</div>
      <div class="eduqual">
        <div class="part first1">
          <label for="">Applicant Type</label>
          <p>{{ profesqualificainfo.value.applicant_type }}</p>
        </div>

        <div class="part">
          <label for="">Years of Experience</label>
          <p>{{ profesqualificainfo.value.year_of_exp }}</p>
        </div>

        <div class="part">
          <label for="">Current CTC (In Rupees)</label>
          <p>{{ profesqualificainfo.value.currctc }}</p>
        </div>

        <div class="part">
          <label for="">Expected CTC (In Rupees)</label>
          <p>{{ profesqualificainfo.value.expectctc }}</p>
        </div>

        <div class="part">
          <label for="">Select All The Technologies You Familier In</label>
          <p *ngFor="let ele of profesqualificainfo.value.tech_femilier">
            {{ technologytempmap[ele] }}
          </p>
          <label for="">If others, please mention</label>
          <p>-</p>
        </div>

        <div class="part">
          <label for="">Select All The Technologies You Expertise In</label>
          <p *ngFor="let ele of profesqualificainfo.value.tech_expert">
            {{ technologytempmap[ele] }}
          </p>
          <label for="">If others, please mention</label>
          <p>-</p>
        </div>

        <div class="part">
          <label for="">Are you currently on notice period?</label>
          <p>{{ profesqualificainfo.value.isnotice == true ? "Yes" : "No" }}</p>
        </div>

        <div class="duo">
          <div class="part">
            <label for="">If Yes, when will your notice period end?</label>
            <p>{{ profesqualificainfo.value.end_of_notice }}</p>
          </div>
          <div class="part">
            <label for=""
              >How long is your notice period? (Mention in months)</label
            >
            <p>{{ profesqualificainfo.value.long_notice }}</p>
          </div>
        </div>

        <div class="part">
          <label for=""
            >Have You Appeared For Any Test By Zeus in the past 12
            months?</label
          >
          <p>
            {{
              profesqualificainfo.value.apperiedin12mo == true ? "Yes" : "No"
            }}
          </p>
          <label for="">If Yes, which role did you apply for?</label>
          <p>{{ profesqualificainfo.value.role_of_application }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
