<div class="review">
  <div class="personal">
    <div class="title">
      <p>Personal Information</p>
      <p>Edit</p>
    </div>
    <div class="maincont">
      <div class="left">
        <div class="fname first">
          <label for="">First Name</label>
          <p>John</p>
        </div>

        <div class="fname">
          <label for="">Last Name</label>
          <p>Watson</p>
        </div>

        <div class="fname">
          <label for="">Email</label>
          <p>Johnwatsonexample.com</p>
        </div>

        <div class="fname">
          <label for="">Phone Number</label>
          <p>+ 91 9876543210</p>
        </div>

        <div class="fname">
          <label for="">Upload Resume </label>
          <a href="#">My resume.pdf</a>
        </div>

        <div class="fname">
          <label for="">Enter Portfolio URL (if any)</label>
          <p>www.myportfolio.in</p>
        </div>

        <div class="fname">
          <label for="">Preferred Job Roles</label>
          <p>Instructional Designer</p>
          <p>Software Quality Engineer</p>
        </div>

        <div class="fname">
          <label for=""
            >If You Are Registering Via A Referral, Please Mention Full Name Of
            The Employee Who Referred You</label
          >
          <p>-</p>
        </div>

        <div class="jobnoti">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
            />
          </svg>
          <p>Send me job related updates via mail</p>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>

  <div class="qualificarion">
    <div class="title">
      <p>Qualifications</p>
      <p>Edit</p>
    </div>
    <div class="content">
      <div class="title1">Educational Qualifications</div>
      <div class="eduqual">
        <div class="part first1">
          <label for="">Aggregate Percentage</label>
          <p>65</p>
        </div>

        <div class="part">
          <label for="">Year of Passing</label>
          <p>2020</p>
        </div>

        <div class="duo">
          <div class="part">
            <label for="">Qualification</label>
            <p>Bachelor in Technology (B.Tech)</p>
          </div>
          <div class="part">
            <label for="">Stream</label>
            <p>Information Technology</p>
          </div>
        </div>

        <div class="duo">
          <div class="part">
            <label for="">College</label>
            <p>Pune Institute of Technology (PIT)</p>
          </div>
          <div class="part">
            <label for="">If others, please enter your college name</label>
            <p>-</p>
          </div>
        </div>

        <div class="part">
          <label for="">Where is your college located?</label>
          <p>Pune</p>
        </div>
      </div>
    </div>

    <div class="content profq">
      <div class="title1">Professional Qualifications</div>
      <div class="eduqual">
        <div class="part first1">
          <label for="">Applicant Type</label>
          <p>Experienced</p>
        </div>

        <div class="part">
          <label for="">Years of Experience</label>
          <p>5</p>
        </div>

        <div class="part">
          <label for="">Current CTC (In Rupees)</label>
          <p>5,00,000</p>
        </div>

        <div class="part">
          <label for="">Expected CTC (In Rupees)</label>
          <p>6,50,000</p>
        </div>

        <div class="part">
          <label for="">Select All The Technologies You Expertise In</label>
          <p>Javascript</p>
          <label for="">If others, please mention</label>
          <p>-</p>
        </div>

        <div class="part">
          <label for="">Select All The Technologies You Familier In</label>
          <p>Javascript</p>
          <label for="">If others, please mention</label>
          <p>-</p>
        </div>

        <div class="part">
          <label for="">Are you currently on notice period?</label>
          <p>Yes</p>
        </div>

        <div class="duo">
          <div class="part">
            <label for="">If Yes, when will your notice period end?</label>
            <p>20-May-2020</p>
          </div>
          <div class="part">
            <label for=""
              >How long is your notice period? (Mention in months)</label
            >
            <p>2 Months</p>
          </div>
        </div>

        <div class="part">
          <label for=""
            >Have You Appeared For Any Test By Zeus in the past 12
            months?</label
          >
          <p>No</p>
          <label for="">If Yes, which role did you apply for?</label>
          <p>-</p>
        </div>
      </div>
    </div>
  </div>

  <div class="professional"></div>
</div>
