<app-loginnav [what]="'create'"></app-loginnav>

<div
  class="userouter"
  *ngIf="
    personalinfo != undefined &&
    eduqualificationinfo != undefined &&
    profesqualificainfo != undefined
  "
>
  <div class="navigation">
    <div class="navmain">
      <svg
        id="back"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <g id="Bounding_Boxes">
          <path
            id="Path_1831"
            data-name="Path 1831"
            d="M0,0H24V24H0Z"
            fill="none"
          />
        </g>
        <g id="Outline_1_">
          <path
            id="Path_1832"
            data-name="Path 1832"
            d="M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z"
            fill="#3FD28B"
          />
        </g>
      </svg>
      <p>Create An Account</p>
      <div class="colbtn">
        <button class="cancel">CANCEL</button>
        <button
          class="create"
          [style.background-color]="currenttab != 3 ? '#3b7b5c' : '#3fd28b'"
          [disabled]="currenttab != 3"
          (click)="Register()"
        >
          CREATE
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="head">
      <div class="fir">
        <p
          class="num"
          [style.background-color]="currenttab >= 1 ? '#3FD28B' : '#757575'"
        >
          1
        </p>
        <p class="cont">Personal Information</p>
      </div>
      <!-- <hr /> -->
      <div class="sec">
        <p
          class="num"
          [style.background-color]="currenttab >= 2 ? '#3FD28B' : '#757575'"
        >
          2
        </p>
        <p class="cont">Qualifications</p>
      </div>
      <!-- <hr /> -->
      <div class="thi">
        <p
          class="num"
          [style.background-color]="currenttab >= 3 ? '#3FD28B' : '#757575'"
        >
          3
        </p>
        <p class="cont">Review and Proceed</p>
      </div>
    </div>

    <app-personal-info
      [personalinfo]="personalinfo"
      *ngIf="currenttab == 1"
    ></app-personal-info>
    <app-qualification
      *ngIf="currenttab == 2"
      [qualificationinfo]="eduqualificationinfo"
      [profesqualificainfo]="profesqualificainfo"
    ></app-qualification>

    <app-review-process
      [personalinfo]="personalinfo"
      [qualificationinfo]="eduqualificationinfo"
      [profesqualificainfo]="profesqualificainfo"
      *ngIf="currenttab == 3"
    ></app-review-process>

    <div class="next">
      <button [disabled]="currenttab == 1" (click)="decrement()">
        Previous
      </button>
      <button [disabled]="currenttab == 3" (click)="increment()">Next</button>
    </div>
  </div>
</div>
