<form
  class="body1"
  *ngIf="personalinfo != undefined && referredjobroles != undefined"
  [formGroup]="personalinfo"
>
  <div class="left">
    <div class="fname">
      <label for="First Name">First Name*</label>
      <input type="text" placeholder="John" formControlName="fname" />
    </div>

    <div class="lname">
      <label for="last Name">Last Name*</label>
      <input type="text" placeholder="Watson" formControlName="lname" />
    </div>

    <div class="mail">
      <label for="Email">Email*</label>
      <input
        type="text"
        placeholder="Johnwatson@example.com"
        formControlName="Email"
      />
    </div>

    <div class="mail">
      <label for="Email">Password</label>
      <input
        type="text"
        placeholder=""
        formControlName="Password"
      />
    </div>

    <div class="phoneno">
      <label for="Email">Phone Number*</label>
      <span>+</span>
      <input class="code" type="number" />
      <input class="number" type="number" formControlName="Phoneno" />
    </div>

    <div class="resume">
      <label class="lab">
        <svg
          svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#1F7A54"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z" />
        </svg>
        <input type="file" class="hidden" name="file1" />
        <label for="">UPLOAD RESUME</label>
      </label>
    </div>

    <div class="portfoliourl">
      <label for="url">Enter Portfolio URL (if any)</label>
      <input
        type="text"
        name="url"
        placeholder="www.johndoe.com"
        formControlName="Portfolio_url"
      />
    </div>

    <div class="prefferedjob">
      <label for="url">Preferred Job Roles*</label>
      <div class="checks">
        <div class="check1" *ngFor="let ele of referredjobroles; let i = index">
          <input
            type="checkbox"
            class="checkdesign"
            (change)="changecheck($event, i + 1)"
            [value]="ele.name"
            [checked]="personalinfo.value.Prefered_Job_roles.includes(i + 1)"
          />

          <label for="">{{ ele.name }}</label>
        </div>
      </div>
    </div>

    <div class="referred">
      <label for="referred"
        >If You Are Registering Via A Referral, Please Mention Full Name Of The
        Employee Who Referred You</label
      >
      <input
        type="text"
        name="refferedempname"
        placeholder=""
        formControlName="Reffred_emp"
      />
    </div>

    <div class="sendjobnotification">
      <input
        type="checkbox"
        class="checkdesign"
        formControlName="Sendjobnotification"
      />
      <p>Send me job related updates via mail</p>
    </div>
  </div>
  <div class="right">
    <label class="lab">
      <img src="../../../../../assets/user.png" alt="" />
      <input type="file" class="hidden" name="file1" />
      <label for="">UPLOAD DISPLAY PICTURE</label>
      <p>Max. image size: 5 MB</p>
    </label>
  </div>
</form>
