/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
  background-color: #eeeeee;
}

input[type="checkbox"] {
  display: none;
  margin-right: 8px;
}
.checkbox {
  width: 22px;
  height: 24px; 
  &::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url("./assets/icons/checkbox-unchecked.svg");
    text-align: center;
  }
}

input[type="checkbox"]:checked + .checkbox:before {
  background: url("./assets/icons/checkbox-checked.svg") no-repeat center center;
}

.radiodesign {
  width: 20px;
  height: 24px;
}

.r1 {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}
